@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@100;200;300;400;500;600;700;800;900&family=Comfortaa:wght@300;400;500;600;700&family=Comforter&family=Lato:wght@100;300;400;700;900&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.main-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(167, 225, 241);
}

.container {
  height: 550px;
  width: 350px;
  background-color: rgb(239, 242, 243);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0px 20px rgb(122, 166, 244);
  border-radius: 10px;
}

.heading{
  font-size: 1.7rem;
  margin-top: 20px;
  font-weight: 600;
}

.container .form-container {
  /* background-color: antiquewhite; */
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#form {
  /* background-color: aqua; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form .title {
  font-weight: bold;
}

.form small {
  /* visibility: hidden; */
  padding: 4px 0px;
}

.form.success input{
  border-color: green;
}

.form.error input{
  border-color: red;
}


input:focus {
  border: 1px solid black;
}


#btn{
  background-color: rgb(6, 154, 183);
  color: white;
  padding: 5px;
  height: 40px;
  margin-top: 5px;
  cursor: pointer;
}

#btn:hover{
  background-color: rgb(4, 130, 155);
}

@media only screen and (max-width:400px) {
  .container {
      height: 550px;
      width: 275px;
  }
}
